<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= locals.title%>
    </title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/0847c5374e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="main">
        <div class="section-1">
            <span id="heading">TODO App</span>
        </div>
        <form id="addform" action="/addform" method="POST"></form>
        <div class="section-2" id="section-2">
            <span id="heading">DESCRIPTION</span><br>
            <input name="description" id="description" form="addform" type="text" placeholder="What do you need to do?">
        </div>
        <div class="section-3">
            <div class="sub-1">
                <span id="heading">CATEGORY</span>
                <select name="category" id="category" form="addform">
                    <option>Choose a Category</option>
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Others">Others</option>
                </select>
                <i class="fas fa-caret-down" id="arroe"></i>
            </div>
            <div class="sub-2">
                <span id="heading">DUE DATE</span>
                <input type="date" name="date" id="date" form="addform">
            </div>
        </div>
        <div class="section-4">
            <div id="container">
                <i class="fas fa-plus"></i>
                <button type="submit" id="addform" form="addform">ADD TASK</button>
                <i class="fas fa-trash-alt"></i>
                <button type="submit" id="deletef" form="deleteform">DELETE TASK</button>
            </div>
        </div>

        <form action="/deleteform" id="deleteform" method="POST"></form>
        <div class="section-5">
            <% for(let i of data_list){ %>
                <div id="divi">
                    <input type="checkbox" id="checkbox" name="id" value="<%= i._id %>" form="deleteform">
                    <span id="task">
                        <%= i.description %>
                    </span>
                    <br>
                    <i class="fas fa-calendar-alt"></i>
                    <% if(i.date !='undefined , ' ){ %>
                        <span id="date">
                            <%= i.date %>
                        </span>
                        <% }else{ %>
                            <span id="date">NO DEADLINE</span>
                            <% } %>
                                <% if(i.category !='Choose a Category' ){ %>
                                    <% if(i.category =='Personal' ){ %>
                                    <div id="eventbox" style="background-color:#3d6bb8;"><span id="event">
                                            <%= i.category %>
                                        </span></div>
                                        <% } %>
                                        <% if(i.category =='Work' ){ %>
                                        <div id="eventbox" style="background-color:#9c00af;"><span id="event">
                                                <%= i.category %>
                                            </span></div>
                                            <% } %>
                                            <% if(i.category =='School' ){ %>
                                            <div id="eventbox" style="background-color:#f2a700;"><span id="event">
                                                    <%= i.category %>
                                                </span></div>
                                                <% } %>
                                                <% if(i.category =='Cleaning' ){ %>
                                                <div id="eventbox" style="background-color:#ee351e;"><span id="event">
                                                        <%= i.category %>
                                                    </span></div>
                                                    <% } %>
                                                    <% if(i.category =='Others' ){ %>
                                                    <div id="eventbox" style="background-color:#444444;"><span id="event">
                                                            <%= i.category %>
                                                        </span></div>
                                                        <% } %>
                                    <% } %>
                </div>
                <% } %>
        </div>
    </div>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>